#inicio {
    background-color: $bg-light;
    padding: 60px 0;
  
    h1, h2 {
      color: $primary-color;
    }
  
    p {
      color: $dark-color;
    }
  
    img {
      max-width: 80%;
    }
  }
  