body {
    font-family: 'Arial', sans-serif;
    color: $dark-color;
    line-height: 1.6;
  }
  
  a {
    color: $primary-color;
    text-decoration: none;
  
    &:hover {
      color: $secondary-color;
    }
  }
  